#coreInfo {
	display: inline-block;
	position: absolute;
	top: 0px;
	margin-left: 5px;
	max-width: 30%;
	word-wrap: break-word;
}

#headshotContainer {
	max-width:70%;
	display: inline-block;
}

#dtCoverage a {
	float: left;
	margin-top: 10px;
	clear: left;
	font-size: 2em;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
  background: transparent !important;
}

.twitter-timeline {
	height: 400px;
}